<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title> 优+童装 </title>
		<meta name="description" content="">
		<meta name="author" content="">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">

		<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production-plugins.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-skins.min.css">

		<!-- SmartAdmin RTL Support -->
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.min.css">

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

		<!-- FAVICONS -->
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

		<!-- GOOGLE FONT -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

		<!-- Specifying a Webpage Icon for Web Clip
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<link rel="apple-touch-icon" href="img/splash/sptouch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="img/splash/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="img/splash/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="img/splash/touch-icon-ipad-retina.png">

        <script src="js/vue/vue.js"></script>
	</head>
	<body>

		<!-- HEADER -->
		<header id="header">
			<div id="logo-group">
				<!-- PLACE YOUR LOGO HERE -->
				<span id="logo" class="font-lg">优+童装</span>
				<!-- END LOGO PLACEHOLDER -->
			</div>

			<!-- projects dropdown -->

			<!-- pulled right: nav area -->
			<div class="pull-right">
				<!-- collapse menu button -->
				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>
				<!-- end collapse menu -->
				<!-- logout button -->
				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="login.html" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
				</div>
			</div>
			<!-- end pulled right: nav area -->

		</header>
		<!-- END HEADER -->

		<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
		<aside id="left-panel">
			<!-- User info -->
            <div id="login-info" class="login-info">
                <login-info></login-info>
            </div>
            <script>
                Vue.component('login-info', {
                    data: function () {
                        return {
                            nickname: '王美丽',
                            avatar: 'img/avatars/sunny.png'
                        }
                    },
                    template: `
                            <span>
                                <a href="javascript:void(0);">
                                    <img src="img/avatars/sunny.png" alt="me" class="online" />
                                    <span>
                                        {{ nickname }}
                                    </span>
                                </a>
                            </span>
                   `
                });
                var loginInfo = new Vue({
                    el: '#login-info'
                });
            </script>
			<!-- end user info -->

			<nav>
				<ul>
					<li class="active open">
						<a href="#" title="销售"><i class="fa fa-lg fa-fw fa-rmb"></i> <span class="menu-item-parent">销售</span></a>
                        <ul>
                            <li>
                                <a href="counter.html">收银台</a>
                            </li>
                        </ul>
					</li>
				</ul>
			</nav>
		</aside>
		<!-- END NAVIGATION -->

		<!-- MAIN PANEL -->
		<div id="main" role="main">

			<!-- MAIN CONTENT -->
			<div id="content">

				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark">
							<i class="fa fa-pencil-square-o fa-fw "></i>
							收银台
						</h1>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<div class="well"style="min-height: 690px;max-height: 690px;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="sku-search" class="form-horizontal">
                                        <fieldset>
                                            <legend><label class="font-md">商品信息</label></legend>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 font-md">货号</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control input-lg" placeholder="输入货号查询商品..." @keyup.enter="search" v-model="input" v-focus="searchInputFocus" ref="searchBtn">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 font-md">名称</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control input-lg" :value="sku.name" disabled="disabled">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 font-md">颜色/尺码</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control input-lg" :value="sku.color" disabled="disabled">
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control input-lg" :value="sku.size" disabled="disabled">
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                    <script>
                                        Vue.directive('focus', {
                                            inserted: function (el, binding) {
                                                console.log("EL: ", el);
                                                console.log("Binding: ", binding);
												if(binding.value) {
                                                    el.focus();
												}
                                            },
                                            updated: function (el, binding) {
                                                console.log("EL: ", el);
                                                console.log("Binding: ", binding);
                                                if(binding.value) {
                                                    el.focus();
                                                }
                                            }
                                        });
                                        var skuSearch = new Vue({
                                            el: "#sku-search",
                                            data: {
                                                input: "",
                                                sku: {},
                                                searchInputFocus: true,
                                            },
                                            methods: {
                                                search: function () {
                                                    var code = this.input;
                                                    this.$http.get('http://localhost:8080/skus', {
                                                        params: {
                                                            code: code
                                                        }
                                                    }).then(resp => {
                                                        console.log(resp);
                                                        console.log(resp.body);

                                                        this.sku = resp.body;
                                                        console.log(skuInfo);
                                                        skuInfo.$data.sku = resp.body;

                                                        console.log("Ref: ", this.$refs.searchBtn);
                                                        console.log("Ref: ", skuInfo.$refs.addToCartBtn);
                                                        this.$refs.searchBtn.blur();
                                                        skuInfo.$refs.addToCartBtn.click();

                                                    }, resp => {
                                                        console.log(resp);
                                                    })
                                                }
                                            }
                                        });
                                    </script>

                                </div>
                            </div>
                            <div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12">
                                    <!-- product -->
                                    <div id="sku-info" class="product-content product-wrap clearfix">
                                        <div class="row">
                                            <div class="col-md-5 col-sm-12 col-xs-12">
                                                <div class="product-image">
                                                    <img :src="sku.mainImg" class="img-responsive">
                                                </div>
                                            </div>
                                            <div class="col-md-7 col-sm-12 col-xs-12">
                                                <div class="product-deatil">
                                                    <h5 class="name">
                                                        <a href="#">
                                                            {{ sku.name }}<span>{{ sku.color }} | {{ sku.size }}</span>
                                                        </a>
                                                    </h5>
                                                    <p class="price-container">
                                                        <span>￥{{ sku.price }}</span>
                                                    </p>
                                                </div>
                                                <div class="description">
                                                    <p>剩余库存：{{ sku.stock }}</p>
                                                </div>
                                                <div class="product-info smart-form">
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-6 col-xs-6 hidden">
                                                            <a class="btn btn-success" @click="addToCart" @enter="addToCart" ref="addToCartBtn">添加</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        var skuInfo = new Vue({
                                            el: "#sku-info",
                                            data: {
                                                placeholder: {
                                                    id: "",
                                                    name: "名称",
                                                    code: "货号",
                                                    size: "尺码",
                                                    color: "颜色",
                                                    price: "--",
                                                    stock: "--",
                                                    mainImgUrl: ""
                                                },
                                                sku: {},
												addToCartBtnFocus: false
                                            },
                                            methods: {
                                                addToCart: function () {
                                                    var sku = this.sku;

                                                    var item = null;
                                                    var items = shoppingCart.$data.items;
                                                    for(var i = 0; i < items.length; i++) {
                                                        if(items[i].id == sku.id) {
                                                            item = items[i];
                                                            break;
                                                        }
                                                    }

                                                    if(item == null) {
                                                        item ={
                                                            id: sku.id,
                                                            name: sku.name,
                                                            code: sku.code,
                                                            price: sku.price,
                                                            quantity: 1
                                                        };
                                                        shoppingCart.$data.items.push(item);
                                                    } else {
                                                        item.quantity = item.quantity + 1;
                                                    }

                                                    skuInfo.$data.addToCartBtnFocus = false;

                                                    skuSearch.$data.searchInputFocus = true;

                                                    skuSearch.$data.input = "";
                                                    skuSearch.$refs.searchBtn.focus();
                                                }
                                            }
                                        });
                                        skuInfo.$data.sku = skuInfo.$data.placeholder;
                                    </script>
                                    <!-- end product -->
                                </div>
                            </div>
						</div>
					</div>
					<div class="col-lg-6">
						<div id="shopping-cart" class="well">
							<div class="row" style="min-height: 500px;max-height: 500px;">
								<div class="col-lg-12" style="">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <legend><label class="font-md">已选购商品</label></legend>
                                            <div class="dd" style="border-bottom: 1px solid;max-width: none; min-height: 540px;max-height: 540px; overflow-y: scroll">
                                                <ol class="dd-list">
                                                    <shopping-cart-item v-for="item in items" :key="item.id" :item="item"></shopping-cart-item>

                                                    <!--
                                            <li class="dd-item">
                                                <div class="dd-handle">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <h5 class="semi-bold">这里显示中文商品名称</h5>
                                                            <span class="semi-bold">ABCDEFG0123456789</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <h5 class="semi-bold">￥<span>9999.99</span></h5>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <h5 class="semi-bold">X</h5>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="input-group input-group-lg" style="width: 130px; margin-top: 10px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-minus"></i>
                                                                    </button>
                                                                </div>
                                                                <input class="form-control" type="text" value="99" style="width: 64px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-plus"></i>
                                                                    </button>
                                                                    <button class="btn btn-danger" type="button">
                                                                        <i class="fa fa-trash"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dd-item">
                                                <div class="dd-handle">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <h5 class="semi-bold">这里显示中文商品名称</h5>
                                                            <span class="semi-bold">ABCDEFG0123456789</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <h5 class="semi-bold">￥<span>9999.99</span></h5>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <h5 class="semi-bold">X</h5>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="input-group input-group-lg" style="width: 130px; margin-top: 10px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-minus"></i>
                                                                    </button>
                                                                </div>
                                                                <input class="form-control" type="text" value="99" style="width: 64px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-plus"></i>
                                                                    </button>
                                                                    <button class="btn btn-danger" type="button">
                                                                        <i class="fa fa-trash"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dd-item">
                                                <div class="dd-handle">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <h5 class="semi-bold">这里显示中文商品名称</h5>
                                                            <span class="semi-bold">ABCDEFG0123456789</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <h5 class="semi-bold">￥<span>9999.99</span></h5>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <h5 class="semi-bold">X</h5>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="input-group input-group-lg" style="width: 130px; margin-top: 10px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-minus"></i>
                                                                    </button>
                                                                </div>
                                                                <input class="form-control" type="text" value="99" style="width: 64px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-plus"></i>
                                                                    </button>
                                                                    <button class="btn btn-danger" type="button">
                                                                        <i class="fa fa-trash"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dd-item">
                                                <div class="dd-handle">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <h5 class="semi-bold">这里显示中文商品名称</h5>
                                                            <span class="semi-bold">ABCDEFG0123456789</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <h5 class="semi-bold">￥<span>9999.99</span></h5>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <h5 class="semi-bold">X</h5>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="input-group input-group-lg" style="width: 130px; margin-top: 10px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-minus"></i>
                                                                    </button>
                                                                </div>
                                                                <input class="form-control" type="text" value="99" style="width: 64px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-plus"></i>
                                                                    </button>
                                                                    <button class="btn btn-danger" type="button">
                                                                        <i class="fa fa-trash"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dd-item">
                                                <div class="dd-handle">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <h5 class="semi-bold">这里显示中文商品名称</h5>
                                                            <span class="semi-bold">ABCDEFG0123456789</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <h5 class="semi-bold">￥<span>9999.99</span></h5>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <h5 class="semi-bold">X</h5>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="input-group input-group-lg" style="width: 130px; margin-top: 10px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-minus"></i>
                                                                    </button>
                                                                </div>
                                                                <input class="form-control" type="text" value="99" style="width: 64px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-plus"></i>
                                                                    </button>
                                                                    <button class="btn btn-danger" type="button">
                                                                        <i class="fa fa-trash"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dd-item">
                                                <div class="dd-handle">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <h5 class="semi-bold">这里显示中文商品名称</h5>
                                                            <span class="semi-bold">ABCDEFG0123456789</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <h5 class="semi-bold">￥<span>9999.99</span></h5>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <h5 class="semi-bold">X</h5>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="input-group input-group-lg" style="width: 130px; margin-top: 10px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-minus"></i>
                                                                    </button>
                                                                </div>
                                                                <input class="form-control" type="text" value="99" style="width: 64px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-plus"></i>
                                                                    </button>
                                                                    <button class="btn btn-danger" type="button">
                                                                        <i class="fa fa-trash"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dd-item">
                                                <div class="dd-handle">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <h5 class="semi-bold">这里显示中文商品名称</h5>
                                                            <span class="semi-bold">ABCDEFG0123456789</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <h5 class="semi-bold">￥<span>9999.99</span></h5>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <h5 class="semi-bold">X</h5>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="input-group input-group-lg" style="width: 130px; margin-top: 10px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-minus"></i>
                                                                    </button>
                                                                </div>
                                                                <input class="form-control" type="text" value="99" style="width: 64px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-plus"></i>
                                                                    </button>
                                                                    <button class="btn btn-danger" type="button">
                                                                        <i class="fa fa-trash"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dd-item">
                                                <div class="dd-handle">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <h5 class="semi-bold">这里显示中文商品名称</h5>
                                                            <span class="semi-bold">ABCDEFG0123456789</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <h5 class="semi-bold">￥<span>9999.99</span></h5>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <h5 class="semi-bold">X</h5>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="input-group input-group-lg" style="width: 130px; margin-top: 10px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-minus"></i>
                                                                    </button>
                                                                </div>
                                                                <input class="form-control" type="text" value="99" style="width: 64px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-plus"></i>
                                                                    </button>
                                                                    <button class="btn btn-danger" type="button">
                                                                        <i class="fa fa-trash"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dd-item">
                                                <div class="dd-handle">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <h5 class="semi-bold">这里显示中文商品名称</h5>
                                                            <span class="semi-bold">ABCDEFG0123456789</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <h5 class="semi-bold">￥<span>9999.99</span></h5>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <h5 class="semi-bold">X</h5>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="input-group input-group-lg" style="width: 130px; margin-top: 10px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-minus"></i>
                                                                    </button>
                                                                </div>
                                                                <input class="form-control" type="text" value="99" style="width: 64px;">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-plus"></i>
                                                                    </button>
                                                                    <button class="btn btn-danger" type="button">
                                                                        <i class="fa fa-trash"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>-->
                                                </ol>
                                            </div>
                                        </fieldset>
                                    </form>
								</div>
							</div>
                            <hr>
                            <div class="row" style="min-height: 150px;max-height: 150px;">
                                <div class="col-lg-8">
                                    <div class="font-xl">共{{ summary.quantity }}件，合计<span>{{ summary.cost }}</span>元</div>
                                </div>
                                <div class="col-lg-4 padding-7">
                                    <div class="pull-right"><a class="btn btn-lg btn-danger">取消</a> <a class="btn btn-lg btn-primary">结账</a></div>
                                </div>
                            </div>
						</div>

                        <script>
                            Vue.component('shopping-cart-item', {
                                props: ['item'],
                                template: `
                                                                <li class="dd-item">
                                                                    <div class="dd-handle margin-top-0">
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <h5 class="semi-bold">{{ item.name }}</h5>
                                                                                <span class="semi-bold">{{ item.code }}</span>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <h5 class="semi-bold">￥{{ item.price }}</h5>
                                                                            </div>
                                                                            <div class="col-md-1">
                                                                                <h5 class="semi-bold">X</h5>
                                                                            </div>
                                                                            <div class="col-md-5">
                                                                                <div class="input-group input-group-lg" style="width: 130px; margin-top: 10px;">
                                                                                    <div class="input-group-btn">
                                                                                        <button class="btn btn-default" type="button" @click="decrease">
                                                                                            <i class="fa fa-minus"></i>
                                                                                        </button>
                                                                                    </div>
                                                                                    <input class="form-control" type="text" :value="item.quantity" style="width: 64px;">
                                                                                    <div class="input-group-btn">
                                                                                        <button class="btn btn-default" type="button" @click="increase">
                                                                                            <i class="fa fa-plus"></i>
                                                                                        </button>
                                                                                        <button class="btn btn-danger" type="button" @click="remove">
                                                                                            <i class="fa fa-trash"></i>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            `,
                                methods: {
                                    increase: function() {
                                        this.item.quantity = this.item.quantity + 1;
                                    },
                                    decrease: function() {
                                        this.item.quantity = this.item.quantity - 1;
                                    },
                                    remove: function() {
                                        var idx = -1;
                                        var items = shoppingCart.$data.items;
                                        for(var i = 0; i < items.length; i++) {
                                            if(items[i].id == this.item.id) {
                                                idx = i;
                                                break;
                                            }
                                        }
                                        if(idx >= 0) {
                                            shoppingCart.$data.items.splice(idx, 1);
                                        }
                                    }
                                }
                            });

                            var shoppingCart = new Vue({
                                el: '#shopping-cart',
                                data: {
                                    items:[]
                                },
                                computed: {
                                    summary: function () {
                                        var sum = 0;
                                        var cost = 0.0;

                                        var summary = {
                                            quantity: 0,
                                            cost: 0.0
                                        }
                                        if(this.items.length > 0) {
                                            for(var i = 0; i < this.items.length; i++) {
                                                var item = this.items[i];
                                                console.log("Item:", item);
                                                summary.quantity = summary.quantity + item.quantity;
                                                summary.cost = summary.cost + item.quantity * item.price;
                                            }
                                        }
                                        console.log("The summary is:", summary);
                                        return summary;
                                    }
                                }
                            });
                        </script>
					</div>
				</div>

			</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->

		<!-- PAGE FOOTER -->
		<div class="page-footer">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<span class="txt-color-white">优+童装<span class="hidden-xs"> </span> © 2017-2019</span>
				</div>

				<div class="col-xs-6 col-sm-6 text-right hidden-xs">
					<div class="txt-color-white inline-block">
						<i class="txt-color-blueLight hidden-mobile">Last account activity <i class="fa fa-clock-o"></i> <strong>52 mins ago &nbsp;</strong> </i>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE FOOTER -->

		<!--================================================== -->

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>-->

		<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
        <script src="js/libs/jquery-3.2.1.min.js"></script>
        <script src="js/libs/jquery-ui.min.js"></script>

		<!-- IMPORTANT: APP CONFIG -->
		<script src="js/app.config.js"></script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
		<script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> 

		<!-- BOOTSTRAP JS -->
		<script src="js/bootstrap/bootstrap.min.js"></script>

		<!-- CUSTOM NOTIFICATION -->
		<script src="js/notification/SmartNotification.min.js"></script>

		<!-- JARVIS WIDGETS -->
		<script src="js/smartwidgets/jarvis.widget.min.js"></script>

		<!-- EASY PIE CHARTS -->
		<script src="js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

		<!-- SPARKLINES -->
		<script src="js/plugin/sparkline/jquery.sparkline.min.js"></script>

		<!-- JQUERY VALIDATE -->
		<script src="js/plugin/jquery-validate/jquery.validate.min.js"></script>

		<!-- JQUERY MASKED INPUT -->
		<script src="js/plugin/masked-input/jquery.maskedinput.min.js"></script>

		<!-- JQUERY SELECT2 INPUT -->
		<script src="js/plugin/select2/select2.min.js"></script>

		<!-- JQUERY UI + Bootstrap Slider -->
		<script src="js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

		<!-- browser msie issue fix -->
		<script src="js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

		<!-- FastClick: For mobile devices -->
		<script src="js/plugin/fastclick/fastclick.min.js"></script>

		<!--[if IE 8]>

		<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

		<![endif]-->

		<!-- MAIN APP JS FILE -->
		<script src="js/app.min.js"></script>

		<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
		<!-- Voice command : plugin -->
		<script src="js/speech/voicecommand.min.js"></script>

		<!-- SmartChat UI : plugin -->
		<script src="js/smart-chat-ui/smart.chat.ui.min.js"></script>
		<script src="js/smart-chat-ui/smart.chat.manager.min.js"></script>

		<!-- PAGE RELATED PLUGIN(S)
		<script src="..."></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>

		<script>

		// DO NOT REMOVE : GLOBAL FUNCTIONS!
		$(document).ready(function() {
			pageSetUp();
		})

		</script>

	</body>

</html>